<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/shopping.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://www.w3schools.com/lib/w3.js"></script>

    <title>HoosierLife</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div w3-include-html="/ILS/IUNewbies/view/navbar.html"></div>
    </div>

    <div class="row">
        <div class="nav-side-menu padding-side-menu">
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list padding-side-menu">

                <ul id="menu-content" class="menu-content collapse out active">
                    <li data-toggle="collapse" data-target="#groceries" class="collapsed active">
                        <a href="#"><i class="glyphicon glyphicon-plus"></i>Groceries</span></a>
                    </li>
                    <ul class="sub-menu collapse in" id="groceries">
                        <li><a href="/ILS/IUNewbies/view/shopping/krogers.html">Kroogers</a></li>
                        <li class="active"><a href="#">Walmart</a></li>
                        <li><a href="/ILS/IUNewbies/view/shopping/jet.html">Jet</a></li>
                    </ul>


                    <li data-toggle="collapse" data-target="#pharmacy" class="collapsed">
                        <a href="#"><i class="glyphicon glyphicon-plus"></i> Pharmacy </a>
                    </li>
                    <ul class="sub-menu collapse" id="pharmacy">
                        <li><a href="/ILS/IUNewbies/view/shopping/cvs.html">CVS</a></li>
                        <li><a href="/ILS/IUNewbies/view/shopping/iu_health_center.html">IU Health</a></li>
                    </ul>

                    <li>
                        <a href="/ILS/IUNewbies/view/shopping/college_mall.html">
                            <i class="glyphicon glyphicon"></i> College Mall
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</div>
<script>
    w3.includeHTML();
</script>


<div class="content">

    <section class="success" id="about">
        <div class="container">
            <figure class="figure-img row">
                <img class="img-fluid-shopping" src="../../Figures/walmart.jpg" alt="">
            </figure>

            <div class="row">
                <!--<div class="col-lg-4 ml-auto">-->

                <p class="text-justify">Walmart has become a household name known for low prices. Its price-match
                    guarantee and new Savings Catcher service give shoppers confidence they’re getting the best deal for
                    products like school supplies, Air conditioners, cleaning supplies, Laundry detergent, sunscreen,
                    contact lens solution and feminine products. You can also print your photos at walmart. It is best
                    to buy initial houhold requirements from walmart such as trash bin, laundry basket, etc.
                    For more information visit [<a href="https://www.walmart.com/store/1991/bloomington-in">https://www.walmart.com/store/1991/bloomington-in</a>].
                    You can also download walmart from the app store.
                </p>

            </div>


        </div>

    </section>
</div>


</body>
</html>