<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>IUNewbies</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">

    <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>-->


</head>

<body id="page-top">


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">

        <img src="../Figures/indiana_hoosiers.png" alt="" width="60" height="60">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-brand js-scroll-trigger" href="../index.html">IUNewbies</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="../index.html#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active bg-dark" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="hoosier.html">Hoosier Life</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<header class="contact1">
    <!--<div class="container">-->
<p class="font-weight-bold text-center display-3 text-dark">Have a question ?</p>
    <p class="font-weight-bold text-center display-3 text-dark">Get in touch with us</p>
    <div class="row">
        <div class="col-6">
    <img class="img-fluid rounded-circle float-right" src="../Figures/contact-us.jpg" alt="" >
        </div>
        <div class="col-6 text-left">
    <p class="text-info">ph: (812) 855-0661</p>
    <p class="text-info">Email: soiccsiu@indiana.edu</p>
            <p class="text-info">Mail: lakdlljls@adl</p>
        </div>
    </div>
    <!--</div>-->
</header>


<!--<footer>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="foot">-->
    <!--<ul class="navbar-nav ml-auto list-unstyled">-->
        <!--<li class="nav-item"><a class="nav-link" href="facebook.com">facebook</a></li>-->
        <!--<li class="nav-item"><a class="nav-link" href="twitter.com">twitter</a></li>-->
        <!--<li class="nav-item"><a class="nav-link" href="google.com">google</a></li>-->
        <!--<li class="nav-item"><a class="nav-link" href="instagram.com">instagram</a></li>-->
    <!--</ul>-->
<!--</div>-->
<!--</footer>-->
<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>-->

<footer >

    <div class="row">
        <div class="col-6 text-right">
    <p class="text-uppercase navbar-text">Follow us at</p>
        </div>
        <div class="col-6 text-left">
    <a href="https://www.twitter.com"><img src="../Figures/twitter-bird-white-on-blue.png" class="rounded-circle"></img> </a>
    <a href="https://www.facebook.com"><img src="../Figures/facebook-icon.png" class="rounded-circle"></img></a>
    <a href="https://www.linkedin.com"><img src="../Figures/skype-icon.png" class="rounded-circle"></img></a>
    <a href="https://www.google.com"><img src="../Figures/googleplus.png" class="rounded-circle"></img></a>
        </div>
        </div>

</footer>

</body>

</html>
