<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/ILS/IUNewbies/css/shopping.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="/IUNewbies/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="/IUNewbies/css/jumbotron.css" rel="stylesheet">
    <link href="/IUNewbies/css/style.css" rel="stylesheet">
    <title>Useful apps</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div w3-include-html="/IUNewbies/view/navbar.html"></div>
    </div>

    <script>
        w3.includeHTML();
    </script>

    <div class="container-fluid">
        <div class="row slideanim jumbo-padding">
            <div class="col-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Event Services</h1>
                    </div>
                    <div class="panel-body">
                        <div class="jumbotron2">
                            <button type="button" class="btn btn-info btn-huge pull-right" data-toggle="modal"
                                    data-target="#myModal"><h2>View</h2>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-padding" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Event Services</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>DoubleMap is a real-time GPS bus tracking system. DoubleMap allows riders to track the
                                exact location of a bus in real time.
                                <br>
                                <a href="https://bloomington.doublemap.com/map">Double Map</a>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Associate Instructor</h1>
                    </div>
                    <div class="panel-body">
                        <div class="jumbotron2">
                            <button type="button" class="btn btn-info btn-huge  pull-right" data-toggle="modal"
                                    data-target="#ai"><h2>View</h2>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-padding" id="ai" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Associate Instructor</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>learning management system which has information about (assignments, discussions,
                                announcements, quizzes, syllabus, etc.).as well as enhanced tools and features for
                                communication, collaboration, and assessment.
                                <br>
                                <a href="https://kb.iu.edu/d/bcll">Canvas</a>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>RPS Dining Services</h1>
                    </div>
                    <div class="panel-body">
                        <div class="jumbotron2">
                            <button type="button" class="btn btn-info btn-huge pull-right" data-toggle="modal"
                                    data-target="#rps"><h2>View</h2>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-padding" id="rps" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title ">RPS Dining Services</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>IU Mobile is a downloadable app for mobile iOS and Android devices. When you launch IU
                                Mobile, you are automatically directed to One.IU, which provides access to IU services.
                                For more, see About One.IU.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>UITS</h1>
                    </div>
                    <div class="panel-body">
                        <div class="jumbotron2">
                            <button type="button" class="btn btn-info btn-huge pull-right" data-toggle="modal"
                                    data-target="#rps"><h2>View</h2>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade modal-padding" id="rps" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title ">UITS</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>IU Mobile is a downloadable app for mobile iOS and Android devices. When you launch IU
                                Mobile, you are automatically directed to One.IU, which provides access to IU services.
                                For more, see About One.IU.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

</body>
</html>