<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--<title>IUNewbies</title>-->

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/shopping.css" rel="stylesheet">
    <!--<link href="css/freelancer.min.css" rel="stylesheet">-->
    <title>HoosierLife</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">

        <img src="../Figures/indiana_hoosiers.png" alt="" width="60" height="60">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-brand js-scroll-trigger" href="../index.html">IUNewbies</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="../index.html#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active bg-dark" href="hoosier.html">HOOSIER LIFE</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!---------------------------------------------------------------------->
<div class="container nopadding ">
    <div  class="row ">
        <div class="col-3 ">

<div class="wrapper" >
    <!--sidebar-->
    <nav id="sidebar">

        <!--Sidebar Links-->
        <ul class=" nav-tabs list-unstyled components">

            <li class="nav-link  active bg-dark"><a href="housing.html">HOUSING</a></li>
            <li class="nav-link "><a href="/IUNewbies/view/shopping/shopping.html">SHOPPING</a></li>
            <li class="nav-link "><a href="/IUNewbies/view/apps.html">USEFUL APPS</a></li>
            <!--<li class="nav-link js-scroll-trigger"><a href="/ILS/IUNewbies/view/community.html">COMMUNITY</a></li>-->
            <li class="nav-link "><a href="/IUNewbies/view/checklist.html">CHECK LIST</a></li>
            <li class="nav-link "><a href="/IUNewbies/view/earn.html">EARN WHILE YOU EARN</a></li>


        </ul>

    </nav>
</div>
        </div>
        <div class="col-9">

<div class="container nopaddingright " id="houses">
<section class="houses " >
    <div class="row">
        <!--<p class="bg-warning">-->
        <article class="col-4">
            <a href="https://www.crerentals.com/bloomington"><img src="../Figures/pd.jpg" class="rounded-circle"></a>
            <!--<img src="Figures/pd.jpg" class="rounded-circle">-->
            <p class="display-5  text-uppercase font-weight-bold">Park Doral</p>
            <!--<div class="ratings">-->
            <!--<img src="../Figures/ratings/rating1.png" >-->
            <!--</div>-->
            <div class="progress">
                <div class="progress-bar" style="width:55%"></div>
            </div>
            <!--<a href="https://www.crerentals.com/bloomington">ClickHere</a>-->
            <p class="display-5 text-left text-uppercase font-weight-bold">Pros</p>
            <ul class="list-unstyled">
                <li>near to campus</li>
                <li>at low cost</li>
                <li>access to 9 and 6 busses</li>

            </ul>
            <p class="display-5 text-left text-uppercase font-weight-bold">Cons</p>
            <ul class="list-unstyled">
                <li>poor maintenance</li>

            </ul>
        </article>
        <article class="col-4">
            <a href="http://www.fountainpark-apts.com/"><img src="../Figures/FP.jpg" class="rounded-circle"></a>
            <p class="display-5  text-uppercase font-weight-bold">Fountain Park</p>
            <!--<div class="ratings">-->
            <!--<img src="../Figures/ratings/rating2.png" class="rounded-circle">-->
            <!--</div>-->
            <div class="progress">
                <div class="progress-bar" style="width:35%"></div>
            </div>
            <!--<a href="http://www.fountainpark-apts.com/">ClickHere</a>-->
            <p class="display-5 text-left text-uppercase font-weight-bold">Pros</p>
            <ul class="list-unstyled">
                <li>good maintenance</li>
                <li>good views</li>
                <li>resonable rents</li>

            </ul>
            <p class="display-5 text-left text-uppercase font-weight-bold">Cons</p>
            <ul class="list-unstyled">
                <li>smaller rooms</li>
                <li>access to only 6</li>

            </ul>
        </article>
        <article class="col-4">
            <a href="http://www.hoosiercourtapartments.com/"><img src="../Figures/hc.jpg" class="rounded-circle"></a>
            <p class="display-5 text-uppercase font-weight-bold" >Hoosier Court</p>
            <!--<div class="ratings">-->
            <!--<img src="../Figures/ratings/rating3.png" >-->
            <!--</div>-->
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:75%"></div>
            </div>

            <p class="display-5 text-left text-uppercase font-weight-bold">Pros</p>
            <ul class="list-unstyled">
                <li>Excellent Maintanance</li>

            </ul>
            <p class="display-5 text-left text-uppercase font-weight-bold">Cons</p>
            <ul class="list-unstyled">
                <li>Far from campus</li>
                <li>access to only 6</li>

            </ul>
        </article>
        <article class="col-4">
            <a href=https://www.abodo.com/bloomington-in/crescent-park-apartments><img src="../Figures/cp.jpg" class="rounded-circle"></a>
            <p class="display-5 text-uppercase font-weight-bold">Crescent Park</p>
            <!--<div class="ratings">-->
            <!--<img src="../Figures/ratings/4-stars.jpg">-->
            <!--</div>-->
            <div class="progress">
                <div class="progress-bar" style="width:55%"></div>
            </div>

            <p class="display-5 text-left text-uppercase font-weight-bold">Pros</p>
            <ul class="list-unstyled">
                <li>reasonable maintenance</li>
                <li>reasonable cost</li>
                <li>access to 9 and 6 busses</li>

            </ul>
            <p class="display-5 text-left text-uppercase font-weight-bold">Cons</p>
            <ul class="list-unstyled">
                <li>far from the bustops</li>

            </ul>
        </article>
        <article class="col-4">
            <a href="https://woodbridgeapt.com/"><img src="../Figures/wb.jpg" class="rounded-circle"></a>
            <p class="display-5 text-uppercase font-weight-bold">Wood Bridge</p>
            <!--<div class="ratings">-->
            <!--<img src="../Figures/ratings/rating1.png" >-->
            <!--</div>-->
            <div class="progress">
                <div class="progress-bar" style="width:15%"></div>
            </div>

            <p class="display-5 text-left text-uppercase font-weight-bold">Pros</p>
            <ul class="list-unstyled">
                <li>near to campus</li>
                <li>at low cost</li>
                <li>access to 9 and 6 busses</li>

            </ul>
            <p class="display-5 text-left text-uppercase font-weight-bold">Cons</p>
            <ul class="list-unstyled">
                <li>poor maintenance</li>

            </ul>
        </article>
        <article class="col-4">
            <a href="http://www.indiana.edu/~gpso/resources/housing/"><img src="../Figures/oncampushousing.jpg" class="rounded-circle"></a>
            <!--<img src="Figures/pd.jpg" class="rounded-circle">-->
            <p class="display-5 text-uppercase font-weight-bold">On CampusHousing</p>
            <!--<div class="ratings">-->
                <!--<img src="../Figures/ratings/rating1.png" >-->
            <!--</div>-->
            <div class="progress">
                <div class="progress-bar" style="width:95%"></div>
            </div>
            <!--<a href="https://www.crerentals.com/bloomington">ClickHere</a>-->
            <p class="display-5 text-left text-uppercase font-weight-bold">Pros</p>
            <ul class="list-unstyled">
                <li>walkable to classes</li>
                <li>access to campus wifi</li>
                <li>access A,E,B busses</li>

            </ul>
            <p class="display-5 text-left text-uppercase font-weight-bold">Cons</p>
            <ul class="list-unstyled">
                <li>high prices</li>
                <li>far to off campus facilities</li>

            </ul>
        </article>
        <!--</p>-->
    </div>
</section>
</div>
        </div>
</div>
</div>
</body>
</html>